<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{E MMM dd HH:mm:ss yyyy} %c %-4p %m%n"/>
        </layout>
    </appender>

    <appender name="appFileAppender" class="org.apache.log4j.rolling.RollingFileAppender">
        <param name="file" value="/var/log/tomcat/portal-tool.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mmz}|%m%n"/>
        </layout>
       <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
        <param name="ActiveFileName" value="/var/log/tomcat/portal-tool.log" />  
        <param name="FileNamePattern" value="/var/log/tomcat/portal-fe.%d{yyyy-MM-dd}.log.gz" />
      </rollingPolicy>
    </appender>

    <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="500"/>
        <appender-ref ref="appFileAppender"/>
    </appender>

    <logger name="app" additivity="false">
        <level value="debug"/>
        <appender-ref ref="ASYNC"/>
    </logger>

    <appender name="analyticsFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="/Users/dhruva/Desktop/data/log/ops_bc_log"/>
        <!--  Rollover at the top of every hour. -->
        <param name="DatePattern" value="'-'yyyyMMdd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss} %m%n"/>
        </layout>
    </appender>

    <appender name="ASYNC_2" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="10000"/>
        <appender-ref ref="analyticsFileAppender"/>
    </appender>

    <logger name="analyticsLogger" additivity="false">
        <level value="info"/>
        <appender-ref ref="ASYNC_2"/>
    </logger>

    <root>
        <level value="debug"/>
        <appender-ref ref="appFileAppender"/>
    </root>
</log4j:configuration>
